* {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	line-height: 1;
	text-decoration: none;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	color: white;
	box-sizing: border-box;
}

html {
	height: 100%;
	position: fixed;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

canvas.floorIntersected {
	cursor: pointer !important;
}

canvas.rotatable {
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

canvas.rotating {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

main {
	background-color: #cccccc;
	flex: 1;
	display: flex;
	touch-action: none;
}

canvas {
	touch-action: none;
}

#controlSelect {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: rgb(20, 20, 20);
}

#controlSelect option {
	background-color: rgb(20, 20, 20);
}

.crosshair {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid rgba(255, 255, 255, 0.8);
	width: 2px;
	height: 2px;
	border-radius: 999px;
	transition: width ease-out 0.2s, height ease-out 0.2s;
}

.crosshair.big {
	width: 12px;
	height: 12px;
}

#dragAndDropArea {
	position: absolute;
	display: flex;
	background-color: rgb(100, 200, 200);
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-size: 3rem;
	z-index: 1002;
}
#dragAndDropArea.hidden {
	display: none;
}

#loadingScreen {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	background-image: url("../assets/images/loading_bg.jpg");
	background-size: cover;
	background-position: center center;
	z-index: 1001;
	transition: 0.5s opacity ease-in-out;
}

#loadingBarBackground {
	background-color: #999999;
	margin: 0 auto;
	border-radius: 4px;
	margin-top: 20px;
	width: 80%;
	max-width: 500px;
	height: 25px;
}

#loadingBar {
	background-color: cadetblue;
	display: block;
	width: 0;
	height: 100%;
	border-radius: 4px;
}

#loadingPercent {
	text-align: center;
	position: relative;
	bottom: 20px;
}

#loadingPercent::after {
	content: ' %';
}

#welcomeText {
	text-align: center;
	line-height: 2.7rem;
	font-size: 1.6rem;
}

#welcomeText p {
	opacity: 1;
	transition: 0.5s opacity ease-in-out;
}

#welcomeText p.hidden {
	opacity: 0;
}

#tutorialScreen {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1001;
	transition: 0.5s opacity ease-in-out;
	cursor: pointer;
	opacity: 1;
}

#tutorialScreen.hidden {
	opacity: 0;
}

#mouseTutorial {
	background-image: url('../assets/images/tutorial/mouse.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	width: 600px;
	height: 400px;
}

#touchTutorial {
	background-image: url('../assets/images/tutorial/touch.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	width: 800px;
	height: 400px;
}

#mouseTutorial.hidden {
	display: none;
}

#touchTutorial.hidden {
	display: none;
}

#toggleFullScreen {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../assets/images/enter_fullscreen.svg);
}

#toggleFullScreen.exitFullScreen {
	background-image: url(../assets/images/exit_fullscreen.svg);
}